<div *ngIf="gameService.isConnected">
  <div class="row pb-2">
    <div class="card col-12">
      <div class="card-body">
        <h5 class="card-title">Create room</h5>
        <div class="form-group">
          <label>Room name</label>
          <input class="form-control" [(ngModel)]="roomName">
        </div>
        <div class="form-group">
          <div>
            <tag-input [(ngModel)]='tags'>
              <tag-input-dropdown [autocompleteItems]="gameService.tags">
              </tag-input-dropdown>
            </tag-input>
          </div>
        </div>
        <button class="btn btn-primary" (click)="createRoom()" [disabled]="!roomName.trim().length">Create</button>

      </div>
    </div>
  </div>
  <div class="row">
    <div class="card col-12">
      <div class="card-body">
        <h5 class="card-title">Filters</h5>
        <tag-input [(ngModel)]='filters' [onlyFromAutocomplete]="true">
          <tag-input-dropdown [showDropdownIfEmpty]="true" [autocompleteItems]="gameService.tags">
          </tag-input-dropdown>
        </tag-input>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card col-md-4 col-sm-12" *ngFor="let room of getFilteredRooms()">
      <div class="card-body">
        <h5 class="card-title">{{room.name}}<span class="badge badge-primary" *ngFor="let tag of room.tags">{{tag}}</span>
        </h5>
        <button class="btn btn-primary" (click)="connectToRoom(room.id)">Connect</button>
      </div>
    </div>
  </div>
</div>
<div class="alert alert-primary"  *ngIf="!gameService.isConnected">
  Not connected to game coordinator!
</div>
